@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,800&family=Oswald:wght@200;700&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*common shared style*/
body {
    font-family: 'lato',sans-serif;
    font-family: 'open sans', sans-serif;
}

.text-primary {
    color: #fd6e0a;
}

.btn-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}


/* nav related style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;

}

nav a{
    text-decoration: none;
    color: #474747;
}

/* header related style*/
.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 30px 150px ;
    display: flex;
    align-items: center;
}

.banner .profile-pic{
    width: 500px;

}